body{
	background-color: #f6f6f6;
}
.box{
	background-color: white;
	display: inline-block;
	position: relative;
	width: 1010px;
	height: 503px;
	border: 1px solid #e4e4e4;
	position: absolute;
	left: 50%;
	margin: -490px;
	margin-top: 5%;
}
img{
	display: inline-block;
	padding: 45px 20px;
	position: relative;
}
p{
	display: inline-block;
	position: absolute;
	font-family: "Arial";
	font-weight: 200;
 	padding: 55px 10px 0 75px;
	text-align: justify;
	/* font-size: 30px; */
	width: 420px; 
	color: #2f2f2f;
	font-size: 16px;

}
.header{
	font-size: 28px;
}
.description{
	padding-top: 130px;
}
.price{
	padding-top: 226px;
}
.numbers{
	padding-top: 247px;
	font-size: 32px;
}
.button{
	display: inline-block;
	position: absolute;
	top: 360px;
	left: 490px;
	width: 270px;
	height: 40px;
	background-color: #ec744a;
	font-size: 22px;
	color: white;
	text-align: center;
	padding-top: 16px;
}